<div
  class="flex items-center justify-center min-h-screen bg-gray-100"
  *ngIf="!isSuccess"
>
  <div class="bg-white p-8 rounded-xl shadow-lg w-96">
    <div class="flex flex-col items-center">
      <h1 class="text-2xl text-gray-600 font-bold bg-gray-200 px-4 py-3 rounded-full mb-4">UMS</h1>
      <!-- <img
        src="assets/img/logomark.png"
        alt="Lock Icon"
        width="50"
        height="50"
        class="mb-3"
      /> -->
      <h2 class="text-xl font-semibold">Reset Password</h2>
      <p class="text-gray-500 text-sm mt-2 mb-6">
        Enter your new password below
      </p>
    </div>

    <!-- Login Form -->
    <form
      [formGroup]="resetForm"
      (ngSubmit)="savePassword()"
      class="space-y-6 mb-4"
    >
      <!-- Password Field -->
      <div class="relative">
        <label class="block text-gray-700 text-sm font-medium mb-1"
          >New Password</label
        >
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Enter new password"
          class="w-full p-2 border rounded-lg focus:ring focus:ring-blue-300 outline-none"
        />
        <button
          type="button"
          (click)="togglePassword('PASSWORD')"
          class="absolute top-9 right-3"
        >
          <img
            [src]="
              showPassword ? 'assets/img/eye-off.png' : 'assets/img/eye.png'
            "
            alt="Toggle Password"
            width="15"
            height="15"
          />
        </button>

        <small
          class="text-red-500"
          *ngIf="
            resetForm.controls['password'].invalid &&
            resetForm.controls['password'].touched
          "
        >
          {{
            resetForm.controls["password"].hasError("required")
              ? "Password is required"
              : "Must be at least 10 characters with an uppercase, lowercase, number, and special character."
          }}
        </small>
      </div>

      <!-- Re Password Field -->
      <div class="relative">
        <label class="block text-gray-700 text-sm font-medium mb-1"
          >Confirm Password</label
        >
        <input
          [type]="showRePassword ? 'text' : 'password'"
          formControlName="repassword"
          placeholder="Confirm password"
          class="w-full p-2 border rounded-lg focus:ring focus:ring-blue-300 outline-none"
        />
        <button
          type="button"
          (click)="togglePassword('RE-PASSWORD')"
          class="absolute top-9 right-3"
        >
          <img
            [src]="
              showRePassword ? 'assets/img/eye-off.png' : 'assets/img/eye.png'
            "
            alt="Toggle Password"
            width="15"
            height="15"
          />
        </button>

        <small
          class="text-red-500"
          *ngIf="
            resetForm.controls['repassword'].invalid &&
            resetForm.controls['repassword'].touched
          "
        >
          {{
            resetForm.controls["repassword"].hasError("required")
              ? "Confirm Password is required"
              : "Passwords do not match"
          }}
        </small>
        <small *ngIf="errorMsg" class="text-red-500">{{ errorMsg }}</small>
      </div>

      <!-- Save Button -->
      <button
        type="submit"
        [disabled]="resetForm.invalid || loading"
        class="w-full bg-skyblue text-white py-2 rounded-lg disabled:opacity-50 flex items-center justify-center cursor-pointer"
      >
        <ng-container *ngIf="!loading; else spinner">Save</ng-container>
        <ng-template #spinner>
          <app-spinner></app-spinner>
        </ng-template>
      </button>
    </form>

    <!-- Sign Up Link -->
    <!-- <p class="text-center text-sm text-gray-600 mt-4">
        Don't have an account? <a href="#" class="text-blue-500">Sign up</a>
      </p> -->
  </div>
</div>

<div
  class="flex items-center justify-center min-h-screen bg-gray-100"
  *ngIf="isSuccess"
>
  <div class="bg-white p-8 rounded-xl shadow-lg w-96">
    <span
      class="flex flex-col items-center justify-center w-full text-center gap-2"
    >
      <img src="assets/img/check.png" alt="info" class="w-20 h-20" />
      <p class="font-semibold text-xl">Password reset successful</p>
      <p class="text-gray-600 text-sm">
        You have successfully reset your password.
      </p>
      <p class="text-gray-600 text-sm">
        You'll be redirected to dashboard in {{ TIMEOUT }} seconds
      </p>
      <button
        type="button"
        (click)="onProceed()"
        class="w-full mt-3 bg-skyblue text-white py-2 rounded-lg flex items-center justify-center cursor-pointer"
      >
        Proceed to Dashboard
      </button>
    </span>
  </div>
</div>
